<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<h2>Streets</h2>

	<table>
		{{#each streets}}
		<tr>
			<td>
				{{name}}
			</td>
			<td>
				<a href="/meters/{{id}}">Meters in street</a>
			</td>
		</tr>
		{{/each}}
	</table>

	<div id="appliances">
            <ul id="all">
                {{#each app}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
    </div>

	{{!-- <table>
		{{#each app}}
		<tr>
			<td>
				{{name}}
			</td>
			<td>
				{{rate}}
			</td>
		</tr>
		{{/each}}
	</table> --}}

</body>

</html>